* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
}

.table-wrap {
    margin-top: 60px;
    max-height: 50vh;
    overflow-x: auto;
    /* padding: 5px; */
    border: 1px solid #000;
    border-left: 1px solid transparent;
}
.timer-table {
    min-width: 300px;
    border-collapse: collapse;
}
td,
th {
    border: 1px solid #000;
    padding: 5px;
}

th {
    border-top: 1px solid transparent;
}

tr:last-child td {
    border-bottom: 1px solid transparent;
}

.timer-block {
    margin-bottom: 20px;
    min-width: 165px;
    /* минимальная ширина нужна, чтобы не подергивало время из-за ширины разных цифр */
}
.timer-block span {
    font-size: 26px;
}

.btn {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: 1px solid;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: black;
    color: white;
}
